/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.cdk-overlay-pane {
  position: absolute !important;
  bottom: 10px !important;
}
.cdk-global-overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
