<div class="h-screen w-full flex flex-col justify-center items-center">
  <h1 class="font-bold text-2xl">Weather Forecasting</h1>

  <div class="grid md:flex gap-8 mt-8 md:mt-10">
    <div
      class="flex flex-col text-center justify-center rounded-lg border-cyan-950 border h-20 px-6 cursor-pointer"
    >
      <label>District of Columbia</label>
      <span>(LWX)</span>
    </div>
    <div
      class="flex flex-col text-center justify-center rounded-lg border-cyan-950 border h-20 px-6 cursor-pointer"
    >
      <label> Kansas Forecasting</label>
      <span>(TOP)</span>
    </div>
  </div>
</div>
